# Frontend
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# Backend
PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nextflow?schema=public"
GEMINI_API_KEY="AIzaSyBl79B-_y4RkgISF4-4z9F8XDf5TXbK6VY"
REDIS_URL="redis://localhost:6379"
